version: '3.8'

services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: bartender
      POSTGRES_USER: user
      POSTGRES_PASSWORD: w(NHr9Dk|jM_
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d bartender"]
      interval: 10s
      timeout: 5s
      retries: 5
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4_container
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.admin
      PGADMIN_DEFAULT_PASSWORD: ftB4iAe765(>
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    healthcheck:
      test: [ "CMD", "wget", "-O", "-", "http://localhost:80/misc/ping" ]
      interval: 10s
      timeout: 10s
      start_period: 160s
      retries: 3

  bartender:
    image: $CI_REGISTRY_IMAGE:latest
    pull_policy: always
    restart: always
    depends_on:
      db:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/bartender
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: w(NHr9Dk|jM_
      DB_CONNECT_MAXATTEMPTS: 20
      DB_CONNECT_BACKOFFDELAY: 5000
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/api/healthcheck" ]
      interval: 10s
      timeout: 2s
      retries: 3
      start_period: 30s

  nginx:
    image: nginx:latest
    container_name: nginx_reverse
    restart: always
    volumes:
      - /home/bartender/nginx:/etc/nginx/conf.d/:ro
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - bartender
      - pgadmin
      - portainer
  portainer:
    image: portainer/portainer-ce:latest
    command: -H unix:///var/run/docker.sock
    container_name: portainer
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data

volumes:
  db-data:
  pgadmin-data:
  portainer_data:
